{% extends 'server/base.html' %}

{% block navbar-maintainers-active %}active{% endblock %}

{% block main %}
<div class='container mt-3 mb-4'>
    <h1>Checklist Template Maintainers</h1>
    {% include 'server/pagination.html' with page=page_maintainers justify_content='justify-content-end' %}
    <table class='table'>
        <thead>
            <tr>
                <th col='scope'>Name</th>
                <th col='scope'>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for maintainer in page_maintainers %}
            <tr>
                <td>
                    <a
                        class='link-opacity-100'
                        href='{% url 'maintainer:detail' maintainer.ChecklistTemplateMaintainerID_Value %}'
                        >{{ maintainer.ChecklistTemplateMaintainerName_Value }}</a>
                </td>
                <td>
                    <a
                        class='link-opacity-100'
                        href='{{ maintainer.URL_Value }}'
                        >{{ maintainer.URL_Value }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'server/pagination.html' with page=page_maintainers justify_content='justify-content-end' %}
</div>
{% endblock %}
